header h1 {
    color: rgb(171, 241, 255);
    text-align: center;
}

header .heddiv1{
    width: 30%;
    background:rgb(25, 25, 74);
    border-radius: 20px;
    margin-top: 0px;
    margin-left: 2%;
    padding-left: 8px;
    padding-right: 8px;
}

.hedplesh{
    font-size:10px ;
}

.hedplesh2{
    font-size:1%;
}

.opspor1{
    width: 50%;
}

.por1_povops{
    display: flex;
    margin-left: 2%;
}
/*rgb(24, 24, 102);*/

.pov_ops2{
    margin-left: 15%;
}

.pov_ops2_2{
    margin-left: 15%;
}

.pov_ops2_2 p{
    margin: -2px;
}

.pov_ops2 p{
    margin: 1px;
}

.portal1_img1{
    margin-left: 3%;
    margin-right: 3%;
}

.portal1_img1 img {
    margin: 0.5%;
    width: 32%;
}

a {
    text-decoration: none;
}

/*url("imageрув3.png")*/
.hed {
    background-image:url("imageрув3.png");
    background-size:cover;
    font-size: 25px;
    color: white;
}

header{
    font-size: 25px;
    color: white;
}

.hed1rad{
    padding: 10px;
    padding-left:35px ;
    padding-right:35px ;
    background:rgb(29, 29, 59)  ;
    color: rgb(77, 182, 253);
    border-radius: 15px;
    margin: 15px;
    
}

.hed2rad{
    padding: 10px;
    padding-left:20px ;
    padding-right:20px ;
    background:rgb(29, 29, 59)  ;
    color: rgb(156, 216, 255);
    border-radius: 15px;
    margin: 5px;
}

.heddiv2{
    text-align: center;
}

footer {
    background: grey;
    color: black;
    display: flex;
    font-size: 20px;
}

footer article {
    margin: 15px;
}

footer article p {
    margin-left: 25px;
}

footer a {
    color: black;
}

.art1{
    color: black;

}

.art2{
    
    margin-left: 30px;
    
}